backoff>=2.2.1
beautifulsoup4>=4.11.2
certifi>=2022.12.7
charset-normalizer>=3.1.0
cloudscraper>=1.2.69
deckar01-ratelimit>=3.0.2
deepl>=1.14.0
idna>=3.4
lxml>=4.9.2
pyparsing>=3.0.9
requests>=2.28.2
requests-toolbelt>=0.10.1
soupsieve>=2.4
urllib3>=1.26.15


