backoff>=2.2.1
beautifulsoup4>=4.12.2
certifi>=2024.2.2
charset-normalizer>=3.3.2
cloudscraper>=1.2.71
deckar01-ratelimit>=3.0.2
deepl>=1.18.0
idna>=3.7
lxml>=5.2.2
pyparsing>=3.1.2
requests>=2.32.2
requests-toolbelt>=1.0.0
soupsieve>=2.5
urllib3>=2.2.1


